name: ci-cd

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"


      - name: Build (bootJar)
        run: |
          chmod +x gradlew
          ./gradlew clean bootJar

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build & Push Docker Image
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/note-vault
          TAG=latest

          docker build -t $IMAGE:$TAG .
          docker push $IMAGE:$TAG


      - name: Deploy to WAS EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.WAS_HOST }}
          username: ec2-user
          key: ${{ secrets.WAS_SSH_KEY }}
          script: |
            cd /home/ec2-user/deploy
            docker-compose pull
            docker-compose up -d
